@use '../variables.scss';

.header {
  width: 100%;
  margin: -140px auto auto auto;
  padding: 0px 32px;
  width: 100%;
  height: 120px;
  box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
  background-color: #fff;
  position: fixed;
  z-index: 999;

  @media (max-width: 599px) {
    margin: -140px auto auto auto;
    padding: 0px;
  }

  @media (min-width: 600px) and (max-width: 899px) {
    padding: 0px 10px;
   }

  @media (min-width: 900px) and (max-width: 1150px) {
    padding: 0px 10px;
  }

    .innerContainer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      height: 100%;
      padding-top: 10px;

      .tagsWrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
      }

      .allTags {
        width: 100%;
        overflow-x: scroll;
        white-space: nowrap;
        overflow-y: hidden;
        padding-bottom: 2px;
        margin: auto 6px;
        cursor: pointer;
    

        @media (max-width: 599px) {
          width: 93%;
          margin: auto 15px;
          padding-bottom: 10px;
        }
      
        @media (min-width: 600px) and (max-width: 899px) {
          width: 94%;
          margin: auto 18px;
          padding-bottom: 10px;
        }
      
        @media (min-width: 900px) and (max-width: 1150px) {
          width: 94%;
          margin: auto 20px;
          padding-bottom: 10px;
        }

    
        &::-webkit-scrollbar {
          width: 10px;
        }
        
        &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(255,255,255,1); 
            border-radius: 0px;
        }
        
        &::-webkit-scrollbar-thumb {
            border-radius: 0px;
            -webkit-box-shadow: inset 0 0 6px rgba(255,255,255,1); 
        }

        ul li {
          transition: all ease-in-out 1s;
          cursor: pointer;
          vertical-align: top;
          list-style: none;
          display: inline;
          margin-right: 20px;
          padding-right: 10px;
          background: transparent;
          color: #767676;
          font-size: 0.8rem;
          font-family: Arial, Helvetica, sans-serif;
          font-size: 15.5px;
          cursor: pointer;
        }
    
        ul li:hover {
          color:black;
        }
    
      }
    }

    }
    
    
    

    .logo {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-grow: 1;
      font-size: 30px;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

      @media (min-width: 600px) and (max-width: 899px) {
        margin-left: 1rem;
        font-size: 25px;
      }

      @media (min-width: 900px) and (max-width: 1150px) {
        margin-left: 1rem;
      }

      @media (max-width: 599px) {
        margin-left: 0.6rem;
        font-size: 22px;
      }

      .searchContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 15px;
        width: 100%;

        .search {
          position: relative;
          width: 100%;
          display: flex;
          justify-content: flex-start;
          align-items: center;

          .searchIcon {
            position: absolute;
            left: 15px;
            fill: #888;
            font-size: 18.5px;
            cursor: pointer;

            &:hover {
              fill: black;
            }
  
          }
  
          input {
            width: 100%;
            padding: 12px 12px 12px 40px;
            border-radius: 20px;
            background: #eee;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 14px;
            border: none;
            outline: none;
  
            &:focus {
              border: 1.2px solid #ccc;
              background: white;
            }
  
          }
        }

        button {
          margin-left: 15px;
          border: none;
          background: transparent;
          color: #666;
          font-size: 14px;
          font-family: Arial, Helvetica, sans-serif;
          cursor: pointer;
          transition: all ease-in-out 1s;

          &:hover {
            color: black;
          }

          @media (max-width: 599px) {
            display: none;
          }

          @media (min-width: 600px) and (max-width: 899px) {
            display: none;
          }

        }

        .vl {
          background-color: #d1d1d1;
          height: 30px;
          width: 1px;

          @media (max-width: 599px) {
            display: none;
          }

          @media (min-width: 600px) and (max-width: 899px) {
           display: none;
          }

        }
      }

    }

    .menu {
      display: flex;
      justify-content: space-between;
      align-items: center;
      list-style: none;

      
      @media (max-width: 599px) {
        display: inline-block;
      }
      
      li {
        position: relative;
        color: #666;
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
        cursor: pointer;

        .justify {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 15px;

          .userAvatar {
            margin-top: 0px;
            width: 30px;
            height: 30px;
            border-radius: 50%;
          }

          .menuIcon {
            color: #777;
            margin-right: -14px;
  
            &:hover {
              color: #111;
            }
  
            @media (max-width: 599px) {
              margin-right: -7px;
            }
  
            @media (min-width: 600px) and (max-width: 899px) {
              margin-right: -10px;
            }
  
            @media (min-width: 900px) and (max-width: 1150px) {
              margin-right: -10px;
            }
  
          }
        }

        .dropdown:before {
          content: "";
          position: absolute;
          right: 10px;
          top: -7.6px;
          background: #fff;
          width: 12px;
          height: 12px;
          border-left: 1.5px solid #ccc;
          border-right: 1.5px solid #fff;
          border-top: 1.5px solid #ccc;
          border-bottom: 1.5px solid #fff;
          transform: rotate(45deg);
        }
      

        .dropdown {
          display: none;
          border-radius: 5px;
          right: -20px;
          margin-top: 15px;
          position: absolute;
          background: #fff;
          border: 1.5px solid #ccc;
          width: 150px;
          z-index: 9999;
          padding: 5px;
          padding-bottom: 0px;
          z-index: 99;

          @media (max-width: 599px) {
            right: -10px;
            width: 180px;
          }

          @media (min-width: 600px) and (max-width: 899px) {
            right: -15px;
          }

          @media (min-width: 900px) and (max-width: 1150px) {
            right: -15px;
          }

          ul li {
            list-style: none;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 14px;
            padding: 8px;
            color: #777;

            &:hover {
              font-weight: 600;
            }
            
            button {
              display: none;
             
              @media (max-width: 599px) {
                display: block;
              }
    
              @media (min-width: 600px) and (max-width: 899px) {
                display: none;
              }
    
              @media (min-width: 900px) and (max-width: 1150px) {
                display: none;
              }

            }
          
          }
          
        }

        .userDropdown:before {
          content: "";
          position: absolute;
          right: 10px;
          top: -7.6px;
          background: #fff;
          width: 12px;
          height: 12px;
          border-left: 1.5px solid #ccc;
          border-right: 1.5px solid #fff;
          border-top: 1.5px solid #ccc;
          border-bottom: 1.5px solid #fff;
          transform: rotate(45deg);
        }
      

        .userDropdown {
          display: none;
          border-radius: 5px;
          right: 20px;
          margin-top: 15px;
          position: absolute;
          background: #fff;
          border: 1.5px solid #ccc;
          width: 120px;
          z-index: 9999;
          padding-top: 5px;
          padding-left: 0px;
          padding-right: 0px;
          padding-bottom: 10px;
          z-index: 99;

          @media (max-width: 599px) {
            right: 25px;
          }

          ul li {
            list-style: none;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 14px;
            padding: 8px;
            color: #777;

            &:hover {
              font-weight: 600;
            }
            
            button {
              display: none;
             
              @media (max-width: 599px) {
                display: block;
              }
    
              @media (min-width: 600px) and (max-width: 899px) {
                display: none;
              }
    
              @media (min-width: 900px) and (max-width: 1150px) {
                display: none;
              }

            }
          
          }
          
        }

        .submitPhoto {
          margin-right: -12px;
          border: none;
          padding: 8px 15px;
          color: #666;
          border: 1.2px solid #ccc;
          background-color: transparent;
          font-size: 13.5px;
          border-radius: 5px;
          margin-top: 0px;
          cursor: pointer;
          font-family: Arial, Helvetica, sans-serif;
          transition: all ease-in-out 1s;

          &:hover {
            border: 1.2px solid #222;
            color: #222;
          }

          @media (max-width: 599px) {
            display: none;
          }

          @media (min-width: 600px) and (max-width: 899px) {
            margin-right: 0px;
          }

          @media (min-width: 900px) and (max-width: 1150px) {
            margin-right: 0px;
          }

        }
        
        .login {
          margin-right: -7px;
          border: none;
          color: #777;
          background-color: transparent;
          font-size: 13.5px;
          border-radius: 5px;
          margin-top: 0px;
          cursor: pointer;
          font-family: Arial, Helvetica, sans-serif;
          transition: all ease-in-out 1s;

          &:hover {
            color: #111;
          }

          @media (max-width: 599px) {
            display: none;
          }

          @media (min-width: 600px) and (max-width: 899px) {
            margin-right: -10px;
          }

          @media (min-width: 900px) and (max-width: 1150px) {
            margin-right: -10px;
          }

        }

        
      }
      
    }

    .menu li {
      margin: 0 15px;
      -webkit-transition: 0.3s;
      transition: 0.3s;
    }

