.viewPost {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center; 
  width: 100%; 
  height: 100vh; 

  @media (max-width: 599px) {
    height: 100%;
    padding: 7px;
  }

  .innerPost {
    width: 99%;
    height: 100%;
    margin: 0;

    @media (max-width: 599px) {
      width: 100%;
    }

    @media (min-width: 600px) and (max-width: 899px) {
     width: 100%;
    }
   
    @media (min-width: 900px) and (max-width: 1150px) {
      width: 100%;
    }

    .postContent {
      position: relative;
      background-color: #fefefe;
      margin: auto;
      border-radius: 5px;
      overflow: hidden;

      .top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 15px;

        @media (max-width: 599px) {
          gap: 15px;
          align-items: flex-start;
          justify-content: flex-start;
          flex-direction: column;
        }

        .userInfo {
          display: flex;
          justify-content: center;
          align-items: center;
  
          .avatar {
            width: 35px;
            height: 35px;
            border-radius: 50%;
            margin-right: 10px;
          }
  
          p {
            font-size: 0.9rem;
            color: #111;
            font-family: Arial, Helvetica, sans-serif !important;
          }
          
        }

        .right {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 10px;

          @media (max-width: 599px) {
            width: 100%;
          }

          .justify {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 10px;

            .customBtn {
              width: 40px;
              height: 30px;
              background: transparent;
              border: 1.2px solid #d1d1d1;
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 16px;
              border-radius: 3px;
              cursor: pointer;
  
              .icon {
                fill: #767676;
              }
  
              &:hover {
                  border-color: #111;
              }
  
              &:hover > .icon {
                  fill: #111;
              }
            }
          }
          .downloadBtn {
            width: 90px;
            height: 30px;
            background: transparent;
            border: 1.2px solid #d1d1d1;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 16px;
            border-radius: 3px;
            cursor: pointer;
            font-size: 14px;
            color: #767676;
  
            &:hover {
                border-color: #111;
                color: #111;
            }
          }
        }

      }

      .middle {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;

        .imgDiv {
          position: relative;

          .expandIcon {
            position: absolute;
            right: 15px;
            top: 15px;
            color: #ccc;
            cursor: pointer;

            &:hover {
              color: white;
            }

            @media (max-width: 599px) {
              top: 20px;
              right: 30px;
            }

          }
          
          .shrinkIcon {
            display: none;
            right:15px;
            top  :15px;   
            color: #ccc;
            cursor: pointer;

            &:hover {
              color: white;
            }

          }

          img {
            object-fit: cover;
          }
        }
      }

      .bottom {
        overflow-x: hidden;
        padding: 20px;
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 599px) {
          margin-top: 5px;
          flex-direction: column;
          gap: 20px;
        }

        .left {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 50px;

          @media (max-width: 599px) {
            width: 100%;
          }

          .viewers, .downloads {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;
            gap: 7px;

            p, label {
              font-family: Arial, Helvetica, sans-serif;
              font-size: 15px;
              width: 100%;
            }

            p {
              color: #666;
            }

          }

        }

        .right {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 10px;

          @media (max-width: 599px) {
            flex-direction: column;
            width: 100%;
          }

          .downloadBtn {
            border: none;
            padding: 8px 15px;
            color: #666;
            border: 1.2px solid #ccc;
            background-color: transparent;
            font-size: 13.5px;
            border-radius: 5px;
            margin-top: 0px;
            cursor: pointer;
            font-family: Arial, Helvetica, sans-serif;
            transition: all ease-in-out 1s;

            @media (max-width: 599px) {
              width: 100%;
            }
  
            &:hover {
              border: 1.2px solid #222;
              color: #222;
            }
          }

        }

      }

      .extra {
        overflow-x: hidden;
        padding: 20px;
        margin-top: 7px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        gap: 12px;

        @media (max-width: 599px) {
          margin-top: 5px;
          flex-direction: column;
          gap: 13px;
        }

        .location {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: 10px;
          width: 100%;
          
          svg {
            fill: #767676;
          }
          
          a {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 14px;
            text-decoration: none;
            color: #767676;
            transition: all ease-in-out 1s;

            &:hover {
              color: #111;
              text-decoration: underline;
            }

          }
        }
        .published {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: 10px;
          width: 100%;

          svg {
            fill: #767676;
          }

          p {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 14px;
            color: #767676;
          }
        }
        
        .license {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: 10px;
          width: 100%;

          svg {
            fill: #767676;
          }

          p {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 14px;
            color: #767676;

            a {
              font-family: Arial, Helvetica, sans-serif;
              font-size: 14px;
              text-decoration: none;
              color: #767676;
              transition: all ease-in-out 1s;

              &:hover {
                color: #111;
                text-decoration: underline;
              }

            }

          }
        }
      }
    }
  }
}