.wrapper {
  width: 100%;
  padding: 0px 20px;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}
@media (max-width: 599px) {
  .wrapper {
    padding: 0px 10px;
    gap: 30px;
  }
}
.wrapper .userInfo {
  width: 100%;
  display: flex;
  gap: 40px;
  margin: 20px;
}
@media (max-width: 599px) {
  .wrapper .userInfo {
    flex-direction: column;
    gap: 10px;
  }
}
.wrapper .userInfo .imageSection {
  height: auto;
  padding: 10px;
  flex: 0.45;
}
@media (max-width: 599px) {
  .wrapper .userInfo .imageSection {
    padding: 0px;
    width: 100%;
  }
}
.wrapper .userInfo .imageSection .avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  float: right;
}
@media (max-width: 599px) {
  .wrapper .userInfo .imageSection .avatar {
    float: left;
    width: 120px;
    height: 120px;
  }
}
.wrapper .userInfo .basicInfo {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
  flex: 1;
  padding-top: 10px;
}
@media (max-width: 599px) {
  .wrapper .userInfo .basicInfo {
    width: 99%;
    margin-top: 10px;
  }
}
.wrapper .userInfo .basicInfo .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.wrapper .userInfo .basicInfo .top .justify {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 599px) {
  .wrapper .userInfo .basicInfo .top .justify {
    display: none;
  }
}
.wrapper .userInfo .basicInfo .top .justify .username {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-weight: bold;
}
.wrapper .userInfo .basicInfo .top .buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.wrapper .userInfo .basicInfo .top .buttons .btnPrimary {
  background: #007fff;
  width: 50px;
  height: 30px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: white;
  cursor: pointer;
}
.wrapper .userInfo .basicInfo .top .buttons .customBtn {
  width: 40px;
  height: 30px;
  background: transparent;
  border: 1.2px solid #d1d1d1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  border-radius: 3px;
  cursor: pointer;
}
.wrapper .userInfo .basicInfo .top .buttons .customBtn .icon {
  fill: #767676;
}
.wrapper .userInfo .basicInfo .top .buttons .customBtn:hover {
  border-color: #111;
}
.wrapper .userInfo .basicInfo .top .buttons .customBtn:hover > .icon {
  fill: #111;
}
.wrapper .userInfo .basicInfo .bio {
  width: 70%;
  line-height: 25px;
}
@media (max-width: 599px) {
  .wrapper .userInfo .basicInfo .bio {
    width: 100%;
    font-size: 15px;
  }
}
.wrapper .userInfo .basicInfo .afh, .wrapper .userInfo .basicInfo .location, .wrapper .userInfo .basicInfo .connect {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  font-size: 15px;
}
@media (max-width: 599px) {
  .wrapper .userInfo .basicInfo .afh, .wrapper .userInfo .basicInfo .location, .wrapper .userInfo .basicInfo .connect {
    font-size: 15px;
  }
}
.wrapper .userInfo .basicInfo .afh {
  color: #007fff;
}
.wrapper .userInfo .basicInfo .afh .afhIcon {
  fill: #007fff;
}
.wrapper .userInfo .basicInfo .location {
  margin-top: -5px;
  color: #767676;
  cursor: pointer;
}
.wrapper .userInfo .basicInfo .location .locIcon {
  fill: #767676;
}
.wrapper .userInfo .basicInfo .location:hover {
  color: #333;
}
.wrapper .userInfo .basicInfo .location:hover > .locIcon {
  fill: #333;
}
.wrapper .userInfo .basicInfo .connect {
  margin-top: -5px;
  color: #767676;
  position: relative;
  cursor: pointer;
  /* user links is here */
}
.wrapper .userInfo .basicInfo .connect:after {
  border: 5px solid rgba(0, 0, 0, 0);
  border-top-color: #d1d1d1;
  content: "";
  position: relative;
  top: 3px;
  transition: border 0.1s ease-in-out;
  cursor: pointer;
}
.wrapper .userInfo .basicInfo .connect .connIcon {
  fill: #767676;
}
.wrapper .userInfo .basicInfo .connect:hover {
  color: #333;
}
.wrapper .userInfo .basicInfo .connect:hover > .wrapper .userInfo .basicInfo .connect:after {
  border-top-color: #333;
}
.wrapper .userInfo .basicInfo .connect:hover > .connIcon {
  fill: #333;
}
.wrapper .userInfo .basicInfo .connect .userLinks {
  border-radius: 5px;
  right: 0px;
  left: 2px;
  top: 12px;
  margin-top: 15px;
  position: absolute;
  background: #fff;
  border: 1.5px solid #ccc;
  width: auto;
  height: auto;
  z-index: 9999;
  padding: 0px;
  padding-bottom: 5px;
  z-index: 99;
}
.wrapper .userInfo .basicInfo .connect .userLinks a {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #767676;
  margin-top: 5px;
  padding: 8px 12px;
  cursor: pointer;
}
.wrapper .userInfo .basicInfo .connect .userLinks a:hover {
  background: #eee;
}
.wrapper .userInfo .basicInfo .connect .userLinks a label {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
.wrapper .userInfo .basicInfo .connect .userLinks a label .icon {
  fill: #767676;
}
.wrapper .userInfo .basicInfo .connect .userLinks a label:hover {
  color: #111;
}
.wrapper .userInfo .basicInfo .connect .userLinks a label:hover > .icon {
  fill: #111;
}
.wrapper .userInfo .basicInfo .interests {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
  font-size: 15px;
  margin-top: 5px;
}
.wrapper .userInfo .basicInfo .interests .tags {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  overflow: hidden;
}
.wrapper .userInfo .basicInfo .interests .tags li {
  font-size: 15px;
  list-style: none;
  padding: 5px 8px;
  background: #eee;
  color: #767676;
  border-radius: 3px;
  cursor: pointer;
}
.wrapper .userInfo .basicInfo .interests .tags li:hover {
  background: #ddd;
  color: #111;
}
.wrapper .linkList {
  width: 100%;
  display: flex;
  gap: 30px;
  padding: 0px;
  border-bottom: 1.5px solid #ccc;
}
.wrapper .linkList li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  list-style: none;
  color: #767676;
  padding: 10px 0px;
  font-size: 14.5px;
  cursor: pointer;
}
.wrapper .linkList li .icon {
  fill: #ccc;
}
@media (max-width: 599px) {
  .wrapper .linkList li .icon {
    display: none;
  }
}
@media (max-width: 599px) {
  .wrapper .linkList li label {
    display: none;
  }
}
.wrapper .linkList li:hover {
  color: #111;
}
.wrapper .linkList li:hover > .icon {
  fill: #111;
}
.wrapper .linkList .active {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  list-style: none;
  color: #111;
  padding: 10px 0px;
  font-size: 14.5px;
  cursor: pointer;
  border-bottom: 1.8px solid #111;
}
.wrapper .linkList .active .icon {
  fill: #111;
}
@media (max-width: 599px) {
  .wrapper .linkList .active .icon {
    display: none;
  }
}
@media (max-width: 599px) {
  .wrapper .linkList .active label {
    display: none;
  }
}
.wrapper .noPhoto {
  display: block;
  margin: -30px auto;
  max-width: 300px;
  min-height: 225px;
}
@media (max-width: 599px) {
  .wrapper .noPhoto {
    max-width: 140px;
    min-height: 120px;
  }
}/*# sourceMappingURL=Profile.module.css.map */