#wrapper-modal{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #111;
}

.modal {
  display: none; 
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center; 
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 

  @media (max-width: 599px) {
    height: 100%;
    padding: 7px;
  }

  .close {
    color: #ccc;
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 38px;

    @media (max-width: 599px) {
      display: none;
    }

  }
  
  .close:hover,
  .close:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
  }

  .photoModal {
    width: 40%;
    height: 100%;
    margin-top: 100px;
    overflow: auto;

    @media (max-width: 599px) {
      width: 99%;
      margin-top: 10px;
      overflow-x: hidden;
    }

    @media (min-width: 600px) and (max-width: 899px) {
     width: 65%;
    }
   
    @media (min-width: 900px) and (max-width: 1150px) {
      width: 50%;
    }

    .modalContent {
      position: relative;
      background-color: #fefefe;
      margin: auto;
      padding: 20px;
      border-radius: 5px;

      @media (max-width: 599px) {
        padding: 10px;
      }

      .modalFooter {
        padding-top: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 599px) {
          flex-direction: column-reverse;
        }

        a {
          font-family: Arial, Helvetica, sans-serif;
          font-size: 14px;
          color: #888;
          text-decoration: none;

          &:hover {
            color: #111
          }
        }

        .buttons {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 10px;

          @media (max-width: 599px) {
            flex-direction: column-reverse;
            margin-bottom: 20px;
            width: 100%;
          }
          
          .cancelBtn {
            border: none;
            padding: 8px 15px;
            color: #666;
            border: 1.2px solid #ccc;
            background-color: transparent;
            font-size: 13.5px;
            border-radius: 5px;
            margin-top: 0px;
            cursor: pointer;
            font-family: Arial, Helvetica, sans-serif;
            transition: all ease-in-out 1s;

            @media (max-width: 599px) {
              width: 100%;
            }

            &:hover {
              border: 1.2px solid #222;
              color: #222;

              @media (max-width: 599px) {
                background: #333;
                color: white;
              }
            }
          }
        }
      }
        
      
      .top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 5px;

        @media (max-width: 599px) {
          margin-top: 5px;
        }
        
        p {
          font-family: Arial, Helvetica, sans-serif;
          font-size: 15px;
        }

      }

      .frame {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
        width: 100%;
        height: 100%;
        padding: 10px;
        border: 2.5px #ccc dashed;

        @media (max-width: 599px) {
          flex-direction: column;
        }

          form {           
            position: relative;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 10px;
            
            .inputsSection {
              display: flex;
              justify-content: space-between;
              align-items: center;
              flex-direction: column;
              width: 100%;
              height: 100%;
              border-radius: 5px;
            }
  
            label {
              width: 90%;
              text-align: left;
              font-family: Arial, Helvetica, sans-serif;
              font-size: 15px;
              margin-bottom: 10px;
              font-weight: 600;

              @media (max-width: 599px) {
                width: 99%;
              }

            }

            .tags {
              position: relative;
              width: 90%;
              border-radius: 4px;
              margin-bottom: 15px;
              padding: 8px;
              font-family: Arial, Helvetica, sans-serif;
              display: flex;
              align-items: center;
              flex-wrap: wrap;
              gap: 10px;

              @media (max-width: 599px) {
                width: 99%;
              }

              label {
                font-size: 13px;
                width: 100%;
                position: absolute;
                left: 96%;
                bottom: 0;
                color: #888;

                @media (max-width: 599px) {
                  left: 93%;
                }

              }

              input {
                font-family: Arial, Helvetica, sans-serif;
                font-size: 13.5px;
                border: none;
                margin-top: 0px;
                padding-left: 5px;
                outline: none;
              }

              .tagItem {
                background: rgb(218, 216, 216);
                display: inline-block;
                padding: 5px 10px;
                border-radius: 20px;
                
                .text {
                  font-family: Arial, Helvetica, sans-serif;
                  font-size: 13.5px;
                  padding-right: 4px;
                }

                .removeText {
                  display: inline-flex;
                  justify-content: center;
                  align-items: center;
                  width: 18px;
                  height: 18px;
                  font-size: 15.5px;
                  padding-bottom: 1px;
                  cursor: pointer;
                  background: rgb(48,48,48);
                  color: white;
                  border-radius: 50%;
                  text-align: center;
                }

              }

            }

            .locationDiv {
              position: relative;
              padding: 8px 0px;
              border: 2px solid #ccc;
              border-radius: 4px;
              width: 90%;
              display: flex;
              justify-content: flex-start;
              align-items: center;
              flex-direction: column;
              gap: 10px;
              text-align: left;
              margin-bottom: 15px;
              overflow-x: hidden;

              @media (max-width: 599px) {
                width: 99%;
              }

              .clearText {
                position: absolute;
                right: 10px;
                width: 16px;
                height: 16px;
                font-size: 13.3px;
                padding-bottom: 1px;
                cursor: pointer;
                background: #333;
                color: white;
                border-radius: 50%;
                text-align: center;
              }

              .suggestionsList {
                background: #ddd;
                border-radius: 5px;
                width: 97%;
                padding: 10px;
                margin: 5px;
                font-size: 13.5px;
                
                .suggestItem {
                  display: flex;
                  justify-content: flex-start;
                  align-items: center;
                  font-family: Arial, Helvetica, sans-serif;
                  list-style: none;
                  padding: 5px;
                  cursor: pointer;

                  &:hover {
                    font-weight: bold;
                  }

                  p {
                    padding-top: 3px;
                  }

                  .icon {
                    box-sizing: border-box;
                    width: 3px;
                    height: 3px;
                    border: 5px solid #888;
                    border-radius: 100%;
                    margin-right: 7px;
                  }
                  
                  .icon::after {
                    margin: 0px 0 0 -6px;
                    display: block;
                    content: '';
                    border: 6px solid transparent;
                    border-top: 10px solid #888;
                    border-bottom: none;
                  }

                }

              }

              input {
                width: 97%;
                align-self: start;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 13.5px;
                border: none;
                padding-left: 5px;
                margin-left: 5px;
                outline: none;
              }
            }

            .textareaDiv {
              position: relative;
              border-radius: 5px;
              width: 90%;
              padding: 0px;
              margin-left: 5px;
              margin-right: 5px;
              margin-bottom: 10px;

              label {
                font-size: 13px;
                width: 100%;
                position: absolute;
                left: 90%;
                bottom: 0;
                color: #888;

                @media (max-width: 599px) {
                  left: 85%;
                }

              }
              
              textarea {
                width: 100%;
                height: 100px;
                padding-top: 12px;
                padding-left: 10px;
                padding-right: 30px;
                box-sizing: border-box;
                border-radius: 4px;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 14.5px;
                line-height: 22px;
                resize: none;
                border: none;
                outline: none;
                resize: none;
              }

              @media (max-width: 599px) {
                width: 99%;
              }
            }

            .uploadFile {
              width: 90%;
              align-self: center;
              font-family: Arial, Helvetica, sans-serif;
              font-size: 13.5px;
              border: none;
              margin-left: 5px;
              outline: none;
            }

          }

        }

      }

    }
  }
